@using Modelo.Entidades
@model Departamento
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nuevo Departamento</h1>
<p>Formulario para la creacion de un nuevo departamento en el sistema</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear Nuevo Departamento</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">

            <form method="post" asp-action="Create">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" asp-for="Nombre"/>
                </div>

                <div class="form-group">                    
                    <input type="submit" class="btn-primary" value="Crear el departamento"/>
                </div>
            </form>

        </div>
    </div>
</div>

