@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">SysEval</h1>
    <h1 class="display-5 text-muted"><em>Sistema de evaluación personal</em></h1>
    <div>
        <img src="~/img/sys.jpg" width="815" height="380" class="d-inline-block align-top" alt="">    
    </div>
    
</div>
