<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="MySql"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server=DESKTOP-FRUGM4F; Initial Catalog=SisEvalV4_2; trusted_connection=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=SisEvalV4_2;Username=postgres;Password=sa.1;"/>
		<add name="MySql"
			 connectionString="Host=localhost;Database=SisEvalV4_2;Username=root;Password=sa.1;"/>
		<add name="Memoria"
			 connectionString="SEP_DBMemoria"/>
	</connectionStrings>
</configuration>