@using Modelo.Entidades
@model Sucursal
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminacion de Sucursal</h1>
<p>Formulario para borrar una sucursal en el sistema</p>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Seguro que desea elminar la sucursal: @Model.Nombre</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">

            <form method="post" asp-action="Delete">

                <input type="hidden" asp-for="SucursalId" />

                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" asp-for="Nombre" disabled/>
                </div>

                <div class="form-group">                    
                    <input type="submit" class="btn-primary" value="Eliminar sucursal"/>
                </div>
            </form>

        </div>
    </div>
</div>

